.vscode/**
.vscode-test/**
src/**
.github/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
snippets/README.txt
*.tsbuildinfo
*.esbuild-meta.json
esbuild.js
eslint.config.mjs
