.chat-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  padding-top: var(--shiny-assistant-margin-y);
}

.chat-message {
  display: flex;
  margin-bottom: var(--shiny-assistant-margin-y);
}

.chat-message-user {
  justify-content: flex-end;
}

.chat-message-assistant {
  justify-content: flex-start;
}

.message-content {
  flex: 1 1 auto;
  margin: 0 var(--shiny-assistant-margin-x);
  outline: none;
  font-family: var(--vscode-font-family);
  font-weight: var(--vscode-font-weight);
  font-size: var(--vscode-font-size);
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
}

.chat-form {
  display: flex;
}

.api-key-message {
  text-align: center;
  padding: 1rem;
}

.api-key-instructions {
  font-size: 0.875rem;
  color: var(--vscode-descriptionForeground);
  margin-top: 0.5rem;
}

.thinking-message {
  color: var(--vscode-descriptionForeground);
  font-style: italic;
}

.msg-assistant {
  background-color: var(--vscode-editorWidget-background);
  color: var(--vscode-editorWidget-foreground);
}
.msg-user {
  background-color: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
  padding: 0.5rem;
  border: 1px solid var(--vscode-input-border);
}
.msg-user > p {
  margin: 0;
}

.input-textbox-container {
  box-sizing: border-box;
  position: relative;
  flex: 1 1 auto;
  margin: 0 0.5rem;
  background-color: var(--vscode-input-background);
  border: 1px solid var(--vscode-input-border);
  border-radius: 0.125rem;
  outline: none;
}
.input-textbox-container:has(.input-textbox:focus) {
  outline: 1px solid var(--vscode-focusBorder);
  outline-offset: -1px;
}
.input-textbox {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  outline: none;
  resize: none;
  font-family: var(--vscode-font-family);
  font-weight: var(--vscode-font-weight);
  font-size: var(--vscode-font-size);
  background-color: transparent;
  overflow: hidden;
  border: none;
  outline: none;
}
.input-textbox:focus {
  outline: none;
}
.input-send-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 0.25rem;
  margin: 0.25rem;
  width: 1.55rem;
  height: 1.55rem;
  right: 0px;
  bottom: 0px;
  color: var(--vscode-button-secondaryForeground);
  border: none;
  border-radius: 0.125rem;
}
.input-send-button:hover {
  background-color: var(--vscode-button-secondaryHoverBackground);
}

.code-block {
  background-color: var(--vscode-editor-background);
  border: 1px solid var(--vscode-input-border);
  border-radius: 0.125rem;
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.code-block .filename {
  border: 1px solid var(--vscode-input-border);
  border-radius: 0.125rem;
  margin: 0.5rem 0.5rem 0 0.5rem;
  padding: 0.25rem 0.25rem;
  font-family: var(--vscode-editor-font-family);
  width: fit-content;
}

.code-block pre {
  width: calc(100vw - 2 * var(--shiny-assistant-margin-x));
  box-sizing: border-box;
}

pre {
  font-family: var(--vscode-editor-font-family);
  font-size: var(--vscode-editor-font-size);
  color: var(--vscode-textPreformat-foreground);
  /* background-color: var(--vscode-textPreformat-background); */
  margin: 5px 0;
  padding: 3px 6px;
  text-wrap: wrap;
}
code {
  font-family: var(--vscode-editor-font-family);
  background-color: unset; /* Need to override the default background color */
}
li,
ul {
  list-style: inside;
}

:root {
  --shiny-assistant-margin-x: 0.5rem;
  --shiny-assistant-margin-y: 0.5rem;
}
