on:
  push:
    tags:
      - "v[0-9]*"
    branches:
      - "main"
      - "v[0-9]*-pre*" # Add support for pre-release branches
  pull_request:
    branches:
      - "main"

name: Deploy Extension
jobs:
  build-vsix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20.x"

      - run: npm ci

      - name: Lint Extension
        run: npm run lint

      - name: Build Extension
        run: npm run vsix

      - name: Upload extension to Actions Artifact
        uses: actions/upload-artifact@v4
        with:
          name: shiny-vscode
          path: "shiny*.vsix"

  check-ref:
    runs-on: ubuntu-latest
    outputs:
      should_publish: ${{ steps.check.outputs.should_publish }}
      is_prerelease: ${{ steps.check.outputs.is_prerelease }}
    steps:
      - id: check
        run: |
          if [[ "${{ github.ref_type }}" == "tag" ]]; then
            echo "should_publish=true" >> $GITHUB_OUTPUT
            echo "is_prerelease=false" >> $GITHUB_OUTPUT
          elif [[ "${{ github.ref_type }}" == "branch" ]] && [[ "${{ github.ref_name }}" =~ ^v[0-9.]+-pre[0-9]*$ ]]; then
            echo "should_publish=true" >> $GITHUB_OUTPUT
            echo "is_prerelease=true" >> $GITHUB_OUTPUT
          else
            echo "should_publish=false" >> $GITHUB_OUTPUT
            echo "is_prerelease=false" >> $GITHUB_OUTPUT
          fi

  publish-open-vsx:
    runs-on: ubuntu-latest
    needs:
      - build-vsix
      - check-ref
    if: |
      github.event_name == 'push' &&
      needs.check-ref.outputs.should_publish == 'true' &&
      github.repository_owner == 'posit-dev'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "18.x"

      - run: npm ci

      - name: Publish to Open VSX Registry
        uses: HaaLeo/publish-vscode-extension@v1
        with:
          pat: ${{ secrets.OPEN_VSX_TOKEN }}
          skipDuplicate: true
          preRelease: ${{ needs.check-ref.outputs.is_prerelease }}

  publish-vscode-marketplace:
    runs-on: ubuntu-latest
    needs:
      - build-vsix
      - check-ref
    if: |
      github.event_name == 'push' &&
      needs.check-ref.outputs.should_publish == 'true' &&
      github.repository_owner == 'posit-dev'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "18.x"

      - run: npm ci

      - name: Publish to Visual Studio Marketplace
        uses: HaaLeo/publish-vscode-extension@v1
        with:
          pat: ${{ secrets.VSCE_PAT }}
          skipDuplicate: true
          registryUrl: https://marketplace.visualstudio.com
          preRelease: ${{ needs.check-ref.outputs.is_prerelease }}
