on:
  push:
    tags:
      - "v[0-9]*"
    branches:
      - "main"
      - "v[0-9]*-pre*" # Add support for pre-release branches
  pull_request:
    branches:
      - "main"

name: Deploy Extension
jobs:
  build-vsix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "18.x"

      - run: npm ci

      - name: Lint Extension
        run: npm run lint

      - name: Build Extension
        run: npm run vsix

      - name: Check if pre-release
        id: check_prerelease
        run: |
          if [[ ${{ github.ref }} =~ .*-pre.* ]]; then
            echo "is_prerelease=true" >> $GITHUB_OUTPUT
          else
            echo "is_prerelease=false" >> $GITHUB_OUTPUT
          fi

      - name: Upload extension to Actions Artifact
        uses: actions/upload-artifact@v4
        with:
          name: shiny-vscode
          path: "shiny*.vsix"

  publish-open-vsx:
    runs-on: ubuntu-latest
    if: |
      github.event_name == 'push' &&
      github.ref_type == 'tag' &&
      github.repository_owner == 'posit-dev'
    needs:
      - build-vsix
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "18.x"

      - run: npm ci

      - name: Check if pre-release
        id: check_prerelease
        run: |
          if [[ ${{ github.ref }} =~ .*-pre.* ]]; then
            echo "is_prerelease=true" >> $GITHUB_OUTPUT
          else
            echo "is_prerelease=false" >> $GITHUB_OUTPUT
          fi

      - name: Publish to Open VSX Registry
        uses: HaaLeo/publish-vscode-extension@v1
        with:
          pat: ${{ secrets.OPEN_VSX_TOKEN }}
          skipDuplicate: true
          preRelease: ${{ steps.check_prerelease.outputs.is_prerelease }}

  publish-vscode-marketplace:
    runs-on: ubuntu-latest
    if: |
      github.event_name == 'push' &&
      github.ref_type == 'tag' &&
      github.repository_owner == 'posit-dev'
    needs:
      - build-vsix
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "18.x"

      - run: npm ci

      - name: Check if pre-release
        id: check_prerelease
        run: |
          if [[ ${{ github.ref }} =~ .*-pre.* ]]; then
            echo "is_prerelease=true" >> $GITHUB_OUTPUT
          else
            echo "is_prerelease=false" >> $GITHUB_OUTPUT
          fi

      - name: Publish to Visual Studio Marketplace
        uses: HaaLeo/publish-vscode-extension@v1
        with:
          pat: ${{ secrets.VSCE_PAT }}
          skipDuplicate: true
          registryUrl: https://marketplace.visualstudio.com
          preRelease: ${{ steps.check_prerelease.outputs.is_prerelease }}
